<!DOCTYPE html>
<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Montserrat:200,400&display=swap" rel="stylesheet">
        <link href="/styles.css" rel="stylesheet">
        <title>Azure Storage Table Todo App</title>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11/dist/vue.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/superagent@5.2.1/dist/superagent.min.js"></script>
        <script src="//unpkg.com/@feathersjs/client@^3.0.0/dist/feathers.js"></script>
        <script src="/app.js" defer="true"></script>
    </head>
    <body>
        <div class="app"></div>
    </body>
</html>