<!DOCTYPE html>
<html>
    <head>
        <title>Azure Storage Table Todo App</title>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11/dist/vue.min.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Montserrat:200,400&display=swap" rel="stylesheet">
        <link href="/styles.css" rel="stylesheet">
        <script src="/app.js" defer="true"></script>
    </head>
    <body>
        <div class="app">

            <header class="app__header">
                <h1 class="app__title">Azure Storage Table Todo App</h1>
                <p class="app__subtitle">Thursday 13 Feb</p>
            </header>

            <div class="app__content">

                <ul class="todos">
                    <li class="todos__item">
                        <div class="todos__done">
                            <input type="checkbox" id="check1" />
                            <label for="check1"></label>
                        </div>
                        <div class="todos__title">Lorem ipsum dolor sit amet</div>
                    </li>
                    <li class="todos__item">
                        <div class="todos__done">
                            <input type="checkbox" id="check2" checked/>
                            <label for="check2"></label>
                        </div>
                        <div class="todos__title">Lorem ipsum dolor sit amet</div>                  
                    </li>
                </ul>

                <div class="intro">
                    <div class="intro__content">
                        <input class="input intro__text" type="text" placeholder="Add a task"/>
                    </div>
                </div>

            </div>

        </div>
    </body>
</html>